html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  /* font-feature-settings: "kern" 1; */
  font-kerning: normal;
  scroll-behavior: smooth;
  @apply font-sans;
  /* 16px */
  font-size:87.5%;
  line-height:1.2;
  @screen lg {
    font-size:100%;
  }

}

*,
*:before,
*:after {
  box-sizing:border-box !important;
}

html, body {
  @apply m-0 p-0 min-h-full;
}

body {
  @apply font-sans;
}

.wrap {
  max-width: 100%;
  @apply px-8;
  @screen md {
    @apply px-10;
  }
  @media(min-width: 1360px) {
    max-width: 1280px;
    @apply px-0;
  }
}

.gs {
  @apply py-8;
  @screen md {
    @apply py-12;
  }
  @screen xl {
    @apply py-16;
  }
}

.gs-x {
  @apply px-8;
  @screen md {
    @apply px-12;
  }
  @screen xl {
    @apply px-16;
  }
}

.gs-y {
  @apply py-8;
  @screen md {
    @apply py-12;
  }
  @screen xl {
    @apply py-16;
  }
}

.gs-x-min {
  @apply px-4;
  @screen md {
    @apply px-6;
  }
  @screen xl {
    @apply px-8;
  }
}

.gs-y-min {
  @apply py-4;
  @screen md {
    @apply py-6;
  }
  @screen xl {
    @apply py-8;
  }
}